.ttl {
  text-transform: uppercase;
  font-size: 8vw;
  font-weight: 900;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-content: center;
  justify-content: center;
  margin: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.mainTitle {
  font-size: 5vh;
  font-weight: 900;
  margin-bottom: 5vh;
  padding: 1vh;
}

.gridContainer {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1vh;
  padding: 1vh;
}

.details {
  font-weight: 900;
  font-size: 3vh;
}

.details a {
  text-decoration: underline;
}

/* ----------------FAQS----------------------- */

.faq {
  width: 80%;
  margin: 0 auto;
}

.centerplease {
  text-align: center;
  margin: 0 auto;
  font-size: 2vh;
}

.question {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: relative;
  background: #ffa4e1;
  margin: 0 auto;
  opacity: 0.9;
  padding: 1vh 1vh 1vh 5vh;
  display: block;
  cursor: pointer;
}

.answers {
  border-top: 1px solid #000000;
  background: #4d0033;
  color: white;
  padding: 0px 2vh;
  margin: 0 0 1vh 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 2vh;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 1.8em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
