.main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
  align-items: center;
}


.ttl {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-content: center;
  justify-content: center;
  margin: 0 2rem;
}

.projectContainer {
  position: relative;
  width: 100%;
  margin: 1vh;
}

.projectTitle h1 {
  margin: 1vh 0vh 1vh 0vh;
}

.projectDetails {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  background-color: #a3ffc6;
  max-width: 50%;
  padding: 1vh;
  border-radius: 0.5vh;
}

.tags {
  display: flex;
}

.tag {
  background-color: #006125;
  margin-right: 1vh;
  padding: 0.5vh;
  border-radius: 500px;
  color: white;
}

.projectButton button {
  cursor: pointer;
  background: #006125;
  color: white;
  padding: 1vh;
  border-radius: 500px;
  border: none;
  margin: 1vh 0 1vh 0;
  font-size: 2vh;
  font-weight: 900;
  transition: 0.2s ease;
}

.projectButton button:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}


