.main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: transparent;
  border: none;
  background-color: #a3ffc6;
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
}

.ttl {
  background-color: rgb(164, 255, 199);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 500px;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-content: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.projectContainer {
  position: relative;
  width: 100%;
  margin: 1vh;
}

.projectDetails {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  background-color: #a3ffc6;
  max-width: 50%;
  padding: 1vh;
  border-radius: 1vh;
}

.projectButton button {
  cursor: pointer;
}
