.back {
    background-color: transparent;
    border: none;
    background-color: #f9ffa4;
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
}

.ttl {
    background-color: rgb(249, 255, 164);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 500px;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-content: center;
    justify-content: space-between;
    margin: 0 2rem;
    
}

.main {
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    align-items: center;
}

/* --------------------services-------------------- */

.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1vh;
}

.titleBox {
    color: black;
    background-color: #f9ffa4;
    font-size: 3vh;
}

.titleBox h2 {
    padding: 1vh;
}

.detailsBox {
    margin: 1vh;
}